
// variables.scss

// colors
$main-text-color: #566787;
$app-background: #f5f5f5;
$main-header-bg: #4b5366;
$text-danger: #dc3545;
$text-warning: #ffc107;

$default-font-family: 'Varela Round', sans-serif;
$default-font-size: 13px;
