<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Customer Management</h2>
                </div>
                <div class="col-sm-8">
                    <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i> <span>Add Customer</span></a>
                </div>
            </div>
        </div>
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filter-group">
                        <span class="filter-icon"><i class="fa fa-filter"></i></span>
                        <label>Filter Customers</label> <input class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Last Contact</th>
                    <th>Customer Lifetime Value</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{customer.customerID}}</td>
                    <td><a routerLink="/customer/{{customer.customerID}}">{{customer.name.first}} {{customer.name.first}}</a></td>
                    <td>{{customer.birthday | date: 'mediumDate'}}</td>
                    <td>{{customer.gender == 'm' ? 'Male' : 'Female'}}</td>
                    <td>{{customer.lastContact | date: 'medium'}}</td>
                    <td>{{customer.customerLifetimeValue}}</td>
                    <td>
                        <a class="action-btn edit" routerLink="/customer/{{customer.customerID}}" title="Edit Customer"><i class="fa fa-edit text-warning"></i></a>
                        <a class="action-btn" href="#" title="Delete Customer"><i class="fa fa-trash text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">
                Showing <b>{{customers?.length}}</b> customers
            </div>
        </div>
    </div>
</div>
